.navbar
  box-shadow: 0 10px 10px rgba(#f98e00, 0.2)
  .header-block
    height: 70px
  .btn-cart
    background-color: darkorange
    border-color: darkorange
    color: #ffffff
    font-weight: bold

    &:hover, &:focus
      box-shadow: none !important
      border-color: #c96d00 !important
      background-color: #c96d00 !important

    .title
      padding-right: 8px

    .counter
      padding-left: 10px
      border-left: 2px solid #ffffff